<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(../../assets/images/bg-01.jpg);">
          <span class="login100-form-title-1">
            Ingreso Encuesta web..
          </span>
        </div>

        <form class="login100-form validate-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          novalidate>

          <div class="wrap-input100 validate-input m-b-26">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Ingrese nombre" [(ngModel)]="form.username"
              #username="ngModel" required />
            <div *ngIf="f.submitted && username.invalid">
              <div style="font-weight: bold;" class="alert alert-success" *ngIf="username.errors.required">El nombre es
                requerido</div>
            </div>
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="pass" placeholder="ingrese password"
              [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
            <div style="font-weight: bold;" class="alert alert-success" *ngIf="f.submitted && password.invalid">
              <div style="font-weight: bold;" class="alert alert-success" *ngIf="password.errors.required">El Password
                es requerido</div>
              <div style="font-weight: bold;" class="alert alert-success" *ngIf="password.errors.minlength">La
                contraseña
                debe tener al menos 6 caracteres</div>
            </div>
            <span class="focus-input100"></span>
          </div>

          <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                Recordarme
              </label>
            </div>

            <div>
              <a href="#" class="txt1">
                Olivide la Password?
              </a>
            </div>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
              {{errorMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>